/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black h-full;
  }

  .nav-link.active {
    @apply text-primary;
  }

  .nav-link.active span {
    @apply opacity-100;
  }
}

/* Slider css */

.slider {
  --slider-items: 1;
  --item-gap: 16px;
  /* margin-block-start: 60px; */
  overflow: hidden;
}

.slider-container {
  position: relative;
  display: flex;
  gap: 12px;
}

.slider-item {
  --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
  --item-width: calc(
    (100% / var(--slider-items)) - (var(--total-gap) / var(--slider-items))
  );

  min-width: var(--item-width);
  width: var(--item-width);
}

.slider-control {
  position: relative;
  max-width: max-content;
  padding-block: 8px;
  opacity: 0.5;
}

.slider-control .line {
  width: 30px;
  height: 1px;
  background-color: #ffffff;
}

.slider .arrow {
  position: absolute;
  transform: translateY(-60%) rotate(45deg);
  width: 10px;
  height: 10px;
  border-style: solid;
  border-color: #ffffff;
}

.slider-control.prev .arrow {
  left: 0;
  border-width: 0 0 1px 1px;
}

.slider-control.next .arrow {
  right: 0;
  border-width: 1px 1px 0 0;
}

.slider-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-block-start: 40px;
}

.img-holder {
  aspect-ratio: 600px / 600px;
  background-color: hsla(0, 0%, 100%, 0.05);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
