/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* Tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-black h-full;
  }

  .nav-link.active {
    @apply text-primary;
  }

  .nav-link.active span {
    @apply opacity-100;
  }
}

/* --------------------------------- *\
   #Slider Styles
\* --------------------------------- */
.slider {
  --slider-items: 3;
  --item-gap: 12px;
  overflow: hidden;
}

.slider-container {
  position: relative;
  display: flex;
  gap: var(--item-gap);
}

.slider-item {
  --total-gap: calc(var(--item-gap) * (var(--slider-items) - 1));
  --item-width: calc((100% / var(--slider-items)));

  min-width: var(--item-width);
  width: var(--item-width);
}

.img-holder {
  aspect-ratio: 1;
  background-color: #fff;
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-card {
  position: relative;
  background-color: transparent;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  cursor: pointer;
}

.portfolio-card .img-cover {
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
}

.portfolio-card .card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  width: 100%;
  transform: translate(-55%, -50%);
  opacity: 0;
  transition: 700ms cubic-bezier(0.17, 0.67, 0, 1.01);
  z-index: 1;
}

.portfolio-card .card-text {
  color: #fff;
}

.portfolio-card:is(:hover, :focus-within) .img-cover {
  opacity: 0.1;
  transform: scale(0.95);
}

.portfolio-card:is(:hover, :focus-within) .card-content {
  transform: translate(-50%, -50%);
  opacity: 1;
}

@layer utilities {
  .mask-radial-faded {
    mask-image: radial-gradient(
      circle at center center,
      black,
      transparent 75%
    );
  }

  .mask-inline-faded {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 25%,
      black 75%,
      transparent
    );
  }

  .play-state-paused {
    animation-play-state: paused;
  }
}
